<div class="card">
  <div class="card-content">
    <article class="message is-success" *ngIf="successMessage">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        {{successMessage}}
      </div>
    </article>
    <div *ngIf="successMessage" class="is-flex is-justify-content-center mt-3">
      <a [routerLink]="['/auth/login']">Return to login</a>
    </div>
    <p *ngIf="!successMessage" class="title">Set your password</p>
    <article class="message is-danger" *ngIf="errorMessage">
      <div class="message-header">
        <p>Oops!</p>
        <button class="delete" aria-label="delete" (click)="errorMessage = ''"></button>
      </div>
      <div class="message-body">
        {{errorMessage}}
      </div>
    </article>
    <form *ngIf="!successMessage" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
      <div class="field">
        <div class="control">
          <label class="label" for="password">New password</label>
          <input type="password" class="input" formControlName="password" [ngClass]="{
            'is-danger':
              resetPasswordForm.controls['password'].touched &&
              resetPasswordForm.controls['password'].invalid,
            'is-success': resetPasswordForm.controls['password'].valid
          }">
          <p *ngIf="resetPasswordForm.controls['password'].touched &&
          resetPasswordForm.controls['password'].invalid" class="help is-danger">Password is required</p>
        </div>
      </div>

      <button class="button is-fullwidth is-primary mt-5" [ngClass]="{ 'is-loading': isLoading }"
        type="submit">Reset</button>
    </form>

  </div>
</div>
