<div class="card">
  <div class="card-content">
    <article class="message is-success" *ngIf="successMessage">
      <div class="message-header">
        <p>Success</p>
      </div>
      <div class="message-body">
        {{successMessage}}
      </div>
    </article>
    <div *ngIf="successMessage" class="is-flex is-justify-content-center mt-3">
      <a [routerLink]="['/auth/login']">Return to login</a>
    </div>
    <p class="title" *ngIf="!successMessage">Forgot Password</p>
    <article class="message is-danger" *ngIf="errorMessage">
      <div class="message-header">
        <p>Oops!</p>
        <button class="delete" aria-label="delete" (click)="errorMessage = ''"></button>
      </div>
      <div class="message-body">
        {{errorMessage}}
      </div>
    </article>
    <form *ngIf="!successMessage" [formGroup]="forgotPasswordForm" (ngSubmit)="submit()">
      <div class="field">
        <div class="control">
          <label class="label" for="email">Email</label>
          <input type="email" class="input" formControlName="email" [ngClass]="{
            'is-danger':
              forgotPasswordForm.controls['email'].touched &&
              forgotPasswordForm.controls['email'].invalid,
            'is-success': forgotPasswordForm.controls['email'].valid
          }">
          <p *ngIf="forgotPasswordForm.controls['email'].touched &&
          forgotPasswordForm.controls['email'].invalid" class="help is-danger">This email is invalid</p>
        </div>
      </div>

      <button class="button is-fullwidth is-primary mt-5" [ngClass]="{ 'is-loading': isLoading }"
        type="submit">Reset</button>

      <div class="is-flex is-justify-content-center mt-3">
        <a [routerLink]="['/auth/login']">Return to login</a>
      </div>
    </form>

  </div>
</div>
