MONGODB_URL=

#Site URL
SITE_URL=http://localhost:4200

#Port
PORT=4000

# Redis server configurations
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Spacex API URL
SPACEX_API_URL=https://api.spacexdata.com/v4/ships

# JWT
# JWT secret key
JWT_SECRET=
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_HOURS=4h

# Number of minutes after which a reset password token expires (10 minutes)
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=600000

NODE_ENV=development

# SMTP configuration options for the email service
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=