<div class="card">
  <div class="card-content">
    <p class="title">Sign In</p>
    <article class="message is-danger" *ngIf="errorMessage">
      <div class="message-header">
        <p>Oops!</p>
        <button class="delete" aria-label="delete" (click)="errorMessage = ''"></button>
      </div>
      <div class="message-body">
        {{errorMessage}}
      </div>
    </article>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <div class="field">
        <div class="control">
          <label class="label" for="email">Email</label>
          <input type="email" class="input" formControlName="email" [ngClass]="{
            'is-danger':
              loginForm.controls['email'].touched &&
              loginForm.controls['email'].invalid,
            'is-success': loginForm.controls['email'].valid
          }">
          <p *ngIf="loginForm.controls['email'].touched &&
          loginForm.controls['email'].invalid" class="help is-danger">This email is invalid</p>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <label class="label" for="password">Password</label>
          <input type="password" class="input" formControlName="password" [ngClass]="{
            'is-danger':
              loginForm.controls['password'].touched &&
              loginForm.controls['password'].invalid,
            'is-success': loginForm.controls['password'].valid
          }">
          <p *ngIf="loginForm.controls['password'].touched &&
          loginForm.controls['password'].invalid" class="help is-danger">Password is required</p>
        </div>
      </div>

      <div class="is-flex is-justify-content-end">
        <a [routerLink]="['/auth/forgot-password']">Forgot password</a>
      </div>

      <button class="button is-fullwidth is-primary mt-5" [ngClass]="{ 'is-loading': isLoading }"
        type="submit">Login</button>

      <div class="is-flex is-justify-content-center mt-3">
        <span class="has-text-grey">Not a Member yet? </span> &nbsp; <a [routerLink]="['/auth/register']">Create
          account</a>
      </div>
    </form>

  </div>
</div>
